.pagination {
  display: flex;
  gap: 25px;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.pagination button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: darkblue;
}
