.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form_input {
  flex: 1;
  max-width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
.form_button:hover{
  background-color: darkblue;
}

.error_message {
  color: red;
  margin-top: 8px;
}
