.card_detail {
  width: 100%;
  max-width: 50em;
  border: 8px solid transparent;
  border-radius: 0.8em;
  font-size: 1rem;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
}
.uni_header {
  background-color: aqua;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 10px 10px;
}
.uni_img {
  position: relative;
  width: 50%;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
}
.card_name_detail {
  text-align: center;
  margin-top: 60px;
  font-size: xx-large;
}
.type_detail {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.type_title {
  justify-content: center;
  font-size: large;
}
.stats {
  margin-top: 2em;
}
.stats_title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.skill_ul {
  display: flex;
  justify-content: center;
  gap: var(--gap-types);
  --gap-types: 0.7em;
}
.ul_stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5em;
}
.stats_li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.moves {
  text-align: center;
  margin-top: 20px;
}
.moves h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.moves ul {
  text-align: justify;
  list-style: none;
  padding: 0;
}
.moves ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 1rem;
  padding: 8px;
}
.card_Detail_header {
  width: 100%;
  background-color: aqua;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  box-sizing: border-box;
}
.pokedex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_image {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  margin-bottom: 20px;
}
.start_button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
